	 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
}

.container{
    width:90%;
    max-width:1000px;
    display:grid;
    grid-template-columns:1fr 1fr;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
}

.left{
    background:url('https://images.unsplash.com/photo-1518546305927-5a555bb7020d') center/cover no-repeat;
    position:relative;
}

.left::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);
}

.left-text{
    position:absolute;
    color:white;
    z-index:1;
}